section.section 
	.section_in
		+swiper_slider({
			slider_class: 'multi_swiper',
			slider_inner_class: 'multi_swiper_inner multiSliderWrapper',
			btns_drag: true
		})
			+multi_slide(multiSlidesArray)