section.section 
	.section_in.section_scrollbar_in
		+swiper_slider({
			slider_class: 'scrollbar_swiper',
			slider_inner_class: 'scrollbar_swiper__inner section_dragble',
			scrollbar: true
		})
			+scrollbar_slide(scrollbarSlidesArray)