mixin foto_center(array)
	each item in array
		.img_center_section__wrapper(class= item.slide_class)
			.img_center_section__content
				h2.img_center_section__title!= item.title
			.img_center_section__photo
				+picture({
					class: 'cover_img',
					img: `${item.img}`
				})
			.img_center_section__content
				if item.descr_caption
					.img_center_section__caption!= item.descr_caption
				.img_center_section__descr!= item.descr
			if item.logo_mod 
				a(href='#').logo(class = item.logo_mod)
					+icon('logo', `icon--size_mod`)
