mixin footer(array)
	footer.footer
		.footer_inner 			
			.footer_content
				each item in array
					.footer_content__title!= item.title 
					p.footer_content__descr!= item.descr
			form.footer_form(action="")
				+form_input({
					block_class: 'footer_form__input',
					field_class: 'footer_form__field',
					class:'footer_form__input_email',
					placeholder:'Email',
					type: 'email'
				})
				button.footer_form__btn_submit.main_btn(type='submit') Sign up

