mixin multi_slide(array)
	each item in array
		div(href='#').multi_slide.swiper-slide 
			.multi_slide__in 
				.multi_slide__photo 		
					+picture({
						img_class: 'cover_img',
						img: `${item.img}`
					}) 
				.multi_slide__content
					h5.multi_slide__title.section_title.section_title--mod_size_2!= item.title
					if item.descr
						p.multi_slide__descr.section_descr!= item.descr	
