mixin swiper_slider(array)
	.swiper-container(class= array.slider_class)
		if array.btns_drag
			.swiper-button-drag.cursorDrag Drag
		.swiper-buttons-block
			if array.btns_drag
				button.swiper-button-prev.arrow_multi_prev
					+icon('arrow_prev_multi_slider')
				button.swiper-button-next.arrow_multi_next
					+icon('arrow_next_multi_slider')
			if array.btns 
				button.swiper-button-prev.arrow_single_prev
					+icon('arrow_prev_single_slider')
				button.swiper-button-next.arrow_single_prev
					+icon('arrow_next_single_slider')
		.swiper-wrapper(class= array.slider_inner_class)
			block
		
		if array.scrollbar
			.swiper-scrollbar
