include mixins/_m_header
include mixins/_m_footer
include mixins/_m_swiper_slider
include mixins/_m_multi_slide
include mixins/_m_scrollbar_slide
include mixins/_m_foto_center
include mixins/_m_section_foto_left
include mixins/_m_section_foto_right