.multi_swiper {
	position: relative;
}

.multi_slide {
	@extend %global_flex_block_row_wrap_flex-start_center;

	position: relative;	

	width: 101%;
	height: inherit;
	overflow: hidden;

	// cursor: grab;
	cursor: none;
	@include bp ($point_2) {
		cursor: pointer;
	}
	@include bp($point_2, min) {
		&:hover {
			text-decoration: none;
			.multi_slide__descr {
				
				height: 120px;
				transform: scaleY(1);
				max-width: 32rem;
			}
		}
	}
}

.multi_slide__in {

	@include bp($point_1, min) {
		padding: 5rem;
	}
	
	@include bp($point_1) {
		padding: 2rem;
	}
}

.multi_slide__title {
	@extend %global_flex_block_row_nowrap_flex-start;
	@extend %title_block_size_2;

	margin-bottom: 4rem;

	color: $white;
}

.multi_slide__descr {
	@extend %descr_block;
	
	height: 0;
	transform: scaleY(0);
	transform-origin: bottom;
	max-width: 32rem;
	
	color: $white;

	transition: .3s;
}

.multi_slide__photo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;

	width: 101%;
	height: 100%;

	transition: .3s ease-out;
}