// .btn_base {
// 	@extend %blue_btn_1;
// 	@extend %btn_size_1;
// }

.main_btn {
	padding: 1rem 2rem;

	font-weight: 500;
	font-size: 14px;
	color: $white;

	background-color: $btn_bg;
	border-radius: 10rem;
	cursor: pointer;

	transition: .3s ease-out;

	&:hover {
		background-color: darken($btn_bg, 10%);
	}
}

.swiper-buttons-block {
	@extend %global_flex_block_row_nowrap_flex-start_center;	

	position: absolute;
	
	& .swiper-button-drag {
		position: static;
		opacity: 1;
	}

	.multi_swiper & {
		bottom: 20%;
		right: 30%;
	} 

	.single_swiper & {
		
		@include bp($point_2, min) {
			right: 15%;
			bottom: 5rem;
		}
		@include bp($point_2) {
			right: 3rem;
			bottom: 3rem;
		}
	}

	& .swiper-button-next,
	& .swiper-button-prev {
		position: static;

		margin-top: 0;

		transition: .3s ease;

		& .icon {
			width: inherit;
			height: inherit;
		}

		&::after,
		&::before {
			content: '';
		}
	}
}



.arrow_multi_prev,
.arrow_multi_next {

	&.swiper-button-next,
	&.swiper-button-prev {

		
		padding: .6rem;
		
		color: $black;

		background-color: $white;
		border-radius: 50%;
	}

	@include bp($point_2, min){
		width: 2rem!important;
		height: 2rem!important;
	}

	@include bp($point_2){
		width: 3rem!important;
		height: 3rem!important;
	}

	@include bp($point_2, min) {
		&.swiper-button-prev {
			margin-right: 8.2rem;
		}

		&:hover{
			background-color: darken($white, 20%);
		}
	}

	@include bp ($point_2) {
		&.swiper-button-prev {
			margin-right: 7rem;
		}
	}
}


.swiper-button-drag {
	position: absolute;
	z-index: 101;
	margin: 0 .6rem;
	font-size: 1.4rem;
	background-color: $white;
	border-radius: 10rem;
	opacity: 0;
	cursor: pointer;
	pointer-events: none;

	transition: 0;

	@include bp($point_2, min) {
		padding: 1rem 2rem;

		&:hover{
			background-color: darken($white, 15%);
		}
	}
	@include bp($point_2) {
		display: none;
	}
	&.swiper-button-drag--disable {
		opacity: 0;
	}
	@include bp($point_2) {
		padding: 1.5rem 2.5rem;
	}
}


.arrow_single_prev,
.arrow_single_next {

	&.swiper-button-prev,
	&.swiper-button-next {
		width: 4rem;
		height: 4rem;

		padding: 1.2rem;
		
		background-color: $btn_bg;
		border-radius: 50%;
	}

	&.swiper-button-prev {
		margin-right: 4rem;
	}
	@include bp($point_2, min) {
		&:hover{
			background-color: darken($btn_bg, 10%);
		}
	}
}

.scroll_btn {
	position: fixed;

	z-index: 101;

	transition: .6s ease-in-out;

	@include bp($point_2, min) {
		bottom: 5rem;
		left: 5rem;
	}

	@include bp($point_2) {
		bottom: 3rem;
		left: 2rem;
	}

	&.scroll_btn--hide {
		left: -100%;
		opacity: 0;
	}
}

.swiper-scrollbar-drag {
	cursor: pointer;
}