extends ../layout/_layout

block vars

block content_block

	+section_foto_right(sectionFirst)
	include ../blocks/section_foto_center.pug
	include ../blocks/section_multi_slider.pug
	+section_foto_left(sectionFourth)
	include ../blocks/section_multi_slider.pug
	include ../blocks/section_scrollbar_slider.pug
	+section_foto_right(sectionSixth)
	include ../blocks/section_single_slider.pug
	+section_foto_left(sectionEighth)
	
	.main_btn.scroll_btn.scrollBtn Scroll
