include ../templates/_global_vars
include ../templates/_global_mixins
include ../templates/_project_vars
include ../templates/_project_mixins

block vars
block project_vars

doctype
html(lang="en")
	head
		+head({
			title_inner: 'Ideal Factory'
		})
	body(class= array.body_class)
		.wrapper(class= array.layout_mod)
			.base(class= array.layout_mod)
				block content_block
		block local_popup
			+footer(footerContent)